### The objective of this notebook is to combine the previous dataframes into one major dataframe.

In [26]:
import pandas as pd
import numpy as np
import sys
import os
sys.path.append(os.path.abspath('..'))
import utils, plot_help
import matplotlib.pyplot as plt

#avoid warning popping up
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

%matplotlib inline

In [27]:
import os
print("Current working dir:", os.getcwd())
print("File exists:", os.path.exists('data/cleaned/df_bus_conc.csv'))

Current working dir: d:\New folder (2)\HoachdinhCNTT
File exists: False

In [28]:
import os

# Test 1: Xác minh đường dẫn thật sự tồn tại
print(os.path.exists('wrangle/data/df_bus_conc.csv'))  # → Phải là True

# Test 2: Thử đọc thủ công bằng pandas
import pandas as pd
df = pd.read_csv('HDCNTT/data/cleaned/df_bus_conc.csv')

print(df.head())

False
   Unnamed: 0             business_id                      name  \
0           0  Pns2l4eNsfO8kk83dixA6A  Abby Rappoport, LAC, CMQ
1           1  mpf3x-BjTdTEA3yCZrAYPw             The UPS Store
2           2  tUFrWirKiKi_TAnsVWINQQ                    Target
3           3  MTSW4McQd7CbVtyjqoe9mw        St Honore Pastries
4           4  mWMc6_wTdE0EUBKIGXDVfA  Perkiomen Valley Brewery

                           address           city state  postal_code  \
0           1616 Chapala St, Ste 2  Santa Barbara    CA            0
1  87 Grasso Plaza Shopping Center         Affton    MO            1
2             5255 E Broadway Blvd         Tucson    AZ            2
3                      935 Race St   Philadelphia    PA            3
4                    101 Walnut St     Green Lane    PA            4

    latitude   longitude  stars  ...  Wednesday_open  Wednesday_close  \
0  34.426679 -119.711197    5.0  ...             NaN              NaN
1  38.551126  -90.335695    3.0  ...             8:0            18:30
2  32.223236 -110.880452    3.5  ...             8:0             22:0
3  39.955505  -75.155564    4.0  ...             7:0             20:0
4  40.338183  -75.471659    4.5  ...            14:0             22:0

  Thursday_open Thursday_close Friday_open  Friday_close  Saturday_open  \
0           NaN            NaN         NaN           NaN            NaN
1           8:0          18:30         8:0         18:30            8:0
2           8:0           22:0         8:0          23:0            8:0
3           7:0           20:0         7:0          21:0            7:0
4          16:0           22:0        12:0          22:0           12:0

   Saturday_close  Sunday_open  Sunday_close
0             NaN          NaN           NaN
1            14:0          NaN           NaN
2            23:0          8:0          22:0
3            21:0          7:0          21:0
4            22:0         12:0          18:0

[5 rows x 127 columns]

list of dataframes to merge:
- df_bus_conc.csv
- review_year_change.csv
- checkin_feat.csv

# Businesses

In [29]:
df_bus_conc = utils.chunk_loader('HDCNTT/data/cleaned/df_bus_conc.csv')
df_bus_conc.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,Wednesday_open,Wednesday_close,Thursday_open,Thursday_close,Friday_open,Friday_close,Saturday_open,Saturday_close,Sunday_open,Sunday_close
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,0,34.426679,-119.711197,5.0,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,1,38.551126,-90.335695,3.0,15,...,8:0,18:30,8:0,18:30,8:0,18:30,8:0,14:0,NaN,NaN
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,2,32.223236,-110.880452,3.5,22,...,8:0,22:0,8:0,22:0,8:0,23:0,8:0,23:0,8:0,22:0
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,3,39.955505,-75.155564,4.0,80,...,7:0,20:0,7:0,20:0,7:0,21:0,7:0,21:0,7:0,21:0
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,4,40.338183,-75.471659,4.5,13,...,14:0,22:0,16:0,22:0,12:0,22:0,12:0,22:0,12:0,18:0

In [30]:
df_bus_conc.shape

(150346, 126)

# Reviews

In [25]:
review_year_change = utils.chunk_loader('HDCNTT/data/cleaned/review_year_change.csv')
review_year_change = review_year_change.rename(columns= {'index': 'business_id'})
review_year_change.head()

FileNotFoundError: [Errno 2] No such file or directory: 'HDCNTT/data/cleaned/review_year_change.csv'

In [5]:
review_year_change.shape

(192606, 5)

# Checkins

In [6]:
checkin_feat = utils.chunk_loader('data/cleaned/checkin_feat.csv')
checkin_feat.head()

,business_id,avg_month_checkin,first,last,span_checkin
0,--1UhMGODdWsrMastO9DZw,1.200000,2016-04-26 19:49:16,2017-05-03 17:58:02,79726
1,--6MefnULPED_I942VcFNA,12.166667,2011-06-04 18:22:23,2018-10-21 22:58:14,16551
2,--7zmmkVg-IMGaXbuVd0SQ,12.500000,2015-01-17 01:49:14,2018-11-03 17:22:03,55969
3,--8LPVSo5i0Oo61X01sV9A,1.000000,2016-07-08 16:43:30,2016-07-08 16:43:30,0
4,--9QQLMTbFzLJ_oT-ON3Xw,2.583333,2010-06-26 17:39:07,2018-06-16 18:44:45,3938

In [7]:
checkin_feat.shape

(161160, 5)

# Median Income

In [8]:
df_median = utils.chunk_loader('data/cleaned/business_median_income.csv')

In [9]:
df_median.head()

              business_id  median_income
0  1SWheh84yJXfytovILXOAQ            3.5
1  QXAEGFB4oINsVuTFxEYKFQ            3.0
2  gnKjwL_1w79qoiV3IC_xQQ            3.5
3  xvX2CttrVhyG2z1dFg_0xw            3.5
4  HhyxOkGAM07SRYtlQ4wMFQ            3.5

# combine dataframes in single df

In [10]:
df_list = [df_bus_conc, review_year_change, checkin_feat, df_median]

In [11]:
df_merge = utils.reduce_merge(df_list, 'business_id')
df_merge.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,...,Sunday_close,cool_change,funny_change,stars_change,useful,avg_month_checkin,first,last,span_checkin,median_income
0,2818 E Camino Acequia Drive,{'GoodForKids': 'False'},1SWheh84yJXfytovILXOAQ,"Golf, Active Life",Phoenix,NaN,0,33.522143,-112.018481,Arizona Biltmore Golf Club,...,NaN,0.000000,0.00000,0.000000,0.000000,1.777778,2012-06-16 14:53:33,2016-06-18 16:22:16,5323,3.5
1,30 Eglinton Avenue W,"{'RestaurantsReservations': 'True', 'GoodForMe...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,...,0:0,-0.042484,-0.04902,-0.075163,-0.156863,36.083333,2010-07-05 16:56:31,2018-11-09 21:08:54,15143,3.0
2,"10110 Johnston Rd, Ste 15","{'GoodForKids': 'True', 'NoiseLevel': ""u'avera...",gnKjwL_1w79qoiV3IC_xQQ,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,...,21:0,-0.110000,-0.19000,0.055000,-0.215000,57.083333,2010-11-13 01:00:36,2018-11-10 17:15:54,58518,3.5
3,"15655 W Roosevelt St, Ste 237",NaN,xvX2CttrVhyG2z1dFg_0xw,"Insurance, Financial Services",Goodyear,"{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,33.455613,-112.395596,Farmers Insurance - Paul Lorenz,...,NaN,0.000000,0.00000,0.000000,-0.500000,1.222222,2012-10-29 22:36:50,2016-04-27 00:57:54,8464,3.5
4,"Credit Valley Town Plaza, F2 - 6045 Creditview Rd","{'BusinessParking': ""{'garage': False, 'street...",68dUKd8_8liJ7in4aWOSEA,"Shipping Centers, Couriers & Delivery Services...",Mississauga,"{'Monday': '9:0-19:0', 'Tuesday': '9:0-20:0', ...",1,43.599475,-79.711584,The UPS Store,...,NaN,0.000000,0.00000,0.000000,0.000000,1.000000,2014-03-31 21:46:17,2018-05-22 22:35:48,2971,3.0

In [12]:
#get list of columns
cols = list(df_merge.columns.values)
#remove is_open from list
cols.pop(cols.index('is_open'))
#move is_open to last position
df_merge= df_merge[cols + ['is_open']]

In [13]:
print(*df_merge.columns, sep=',  ')

address,  attributes,  business_id,  categories,  city,  hours,  latitude,  longitude,  name,  postal_code,  review_count,  stars,  state,  road_type,  GoodForKids,  RestaurantsReservations,  Caters,  RestaurantsTableService,  RestaurantsTakeOut,  RestaurantsPriceRange2,  OutdoorSeating,  BikeParking,  HasTV,  RestaurantsGoodForGroups,  RestaurantsDelivery,  BusinessAcceptsCreditCards,  BusinessAcceptsBitcoin,  ByAppointmentOnly,  AcceptsInsurance,  GoodForDancing,  CoatCheck,  HappyHour,  WheelchairAccessible,  DogsAllowed,  DriveThru,  Corkage,  BYOB,  Open24Hours,  RestaurantsCounterService,  dessert,  latenight,  lunch,  dinner,  brunch,  breakfast,  garage,  street,  validated,  lot,  valet,  romantic,  intimate,  classy,  hipster,  divey,  touristy,  trendy,  upscale,  casual,  dj,  background_music,  no_music,  jukebox,  live,  video,  karaoke,  monday,  tuesday,  friday,  wednesday,  thursday,  sunday,  saturday,  straightperms,  coloring,  extensions,  africanamerican,  curly,  kids,  perms,  asian,  dairy_free,  gluten_free,  vegan,  kosher,  halal,  soy_free,  vegetarian,  NoiseLevel,  WiFi,  Alcohol,  RestaurantsAttire,  BYOBCorkage,  Smoking,  AgesAllowed,  Restaurants,  Food,  Shopping,  Home,  Spas,  Bars,  Beauty,  Medical,  Health,  Hair,  Monday_open,  Monday_close,  Tuesday_open,  Tuesday_close,  Wednesday_open,  Wednesday_close,  Thursday_open,  Thursday_close,  Friday_open,  Friday_close,  Saturday_open,  Saturday_close,  Sunday_open,  Sunday_close,  cool_change,  funny_change,  stars_change,  useful,  avg_month_checkin,  first,  last,  span_checkin,  median_income,  is_open

In [14]:
df_merge.to_csv('data/cleaned/business_merge_feats.csv')